.trend-line {
  stroke: steelblue;
  stroke-width: 1.5;
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.axis path,
.axis line {
  fill: none;
  stroke: #777;
  stroke-opacity: 0.7;
  /* stroke-width: 1; */
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 1.2em;
  fill: #555;
  font-family: sans-serif;
}

.trend-circle {
  fill: white;
  stroke: orange;
  stroke-width: 2px;
  opacity: 0.8;
}

.trend-circle.highlight {
  stroke: red;
  stroke-width: 4px;
  fill: orange;
  /* stroke-opacity: 0.75; */
  cursor: pointer;
}

.trend-circle.highlight.toTop {
  stroke: blue;
}

/* For the demographic bars */
.bar {
  fill-opacity: 0.7;
  cursor: pointer;
}

.bar.left {
  fill: #00239c;
}

.bar.right {
  fill: #e10600;
}

.bar.hover {
  opacity: 1;
  fill: orangered;
}

.bar-comp {
  fill: none;
  /*stroke-opacity: 0.3;*/
  stroke-width: 2;
  stroke-dasharray: 2;
}

.bar-comp.left {
  stroke: #8abad3;
}

.bar-comp.right {
  stroke: #e683a9;
}

/* For the population bars */
/* .barPopn {
  fill: steelblue;
} */

.barPopn.highlight {
  fill: steelblue;
}

/* Drop down selection */
.selPractice {
  float: left;
}

.backgroundBar {
  fill: rgba(218, 216, 216, 0.75);
  stroke-width: 2;
  stroke: rgba(0, 0, 0, 0.5);
}

#axis--yBar--overage .domain{
  stroke: rgba(0, 0, 0, 0);
}

/* for the d3 bubble chart */
.bubble {
  fill-opacity: .8;
  stroke: #fff;
  stroke-width: .5px;
  /* fill: red; */
}

.bubble-legend circle {
  fill: none;
  stroke: #ccc;
}

.bubble-legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}
