/*
* These CSS rules affect the tooltips within maps with the popup-dark class.
* See the full CSS for all customizable options:
* https://github.com/mapbox/mapbox.js/blob/001754177f3985c0e6b4a26e3c869b0c66162c99/theme/style.css#L321-L366

Good Explanation:
https://gis.stackexchange.com/a/285662

See .leaflet-popup for defaults:
https://github.com/Leaflet/Leaflet/blob/master/dist/leaflet.css

*/

/* Wrapper content */
.popup-dark .leaflet-popup-content-wrapper {
  background: hsl(210, 29%, 24%);
  font-size: 12px;
  pointer-events: none;
}

.popup-dark .leaflet-popup-content {
  color: rgba(255, 255, 255, 1);
}

.popup-dark .leaflet-popup-content h3 {
  background-color: hsl(210, 29%, 65%);
  color: rgba(255, 255, 255, 1);
}

.popup-dark .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}
.popup-dark .leaflet-popup-tip {
  background-color: #2c3e50;
  /* border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #2c3e50; */
}
