/*
Useful Resources:

https://medium.freecodecamp.org/how-to-build-a-responsive-navbar-with-a-toggle-menu-using-flexbox-3438e1d08783
https://codepen.io/gab/pen/FbdHk

https://codepen.io/smashtheshell/pen/ZBNNEg?editors=1100
https://codepen.io/gcampfield/pen/OPvBEj
https://blog.christopherianmurphy.com/2016/01/responsive-pure-css-menu/
https://css-tricks.com/almanac/selectors/l/last-child/

https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
*/

.wrapper-nav {
	/*max-width: 960px;*/
	/*margin: 0 auto;*/
	position: sticky;
	top: 0;
	/*color: #ecf0f1;*/
	z-index: 3000;
	background: var(--colourSecondary_Primary);
	border-style: solid none; /*top, bottom are solid; left and right = none */
	border-width: medium;
	border-color: black;
	color: black;
}

/* Flex Nav Bar */
.nav-main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/*justify-content: flex-start;*/
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-main .active {
	background: var(--colourSecondary_Dark);
	color: white;
	border-bottom: 3px solid var(--colourSecondary_Light);
}

.nav-main ul {
	background-color: var(--colourSecondary_Light);
	display: flex;
  flex-direction: column;
}
.nav-main li {
  list-style-type: none;
}
.nav-main li a {
	padding: 0.4rem 1rem;
	display: block;
	text-decoration: none;
  color: inherit;
  
}

/*
.nav-main li:last-child {} applies to multiple elements, not just the final one...
*/
.nav-main .last-item {
	margin-left: auto;
}
/*
.nav-main li:not(:first-child) {
	border-left: 2px solid #ecf0f1;
}
*/
#nav-main ul li:hover,
#nav-main ul li:focus-within {
  background: rgba(250, 0, 0, 0.25);
  color: black;
  transition: all 0.2s ease;
}

/*
li:focus-within a {
  outline: none;
}
*/

@media only screen and (max-width: 480px) {
	.has-children ul li a {
		padding-left: 2rem;
	}

	.has-children ul .has-children ul a {
		padding-left: 3rem;
	}
}

@media only screen and (min-width: 480px) {
	#nav-main ul li {
		position: relative;
		flex: 1 0 content;
		text-align: left;
	}
	.has-children ul,
	.has-children ul .has-children ul {
		display: none;
		width: 100%;
		position: absolute;
	}
	.has-children ul .has-children ul {
		left: 100%;
		top: 0;
	}
  nav ul li:hover ul,
  #nav-main ul li:focus-within > ul,
	.has-children ul .has-children:hover ul {
		display: flex;
    flex-direction: column;
	}
}
