/*
http://jsfiddle.net/mekwall/up4nu/
*/

#article-left {
  flex-direction: column;
  flex-shrink: 0; /*use this to preventing wrapping*/
  position: sticky;
  top: 2.813rem;
  height: 90vh; /* min-content; */
  background-color: var(--colourPrimary_Light);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  z-index: 1;
}

.nav-side {
  list-style-type: none;
  /*margin: 0;*/
  padding-top: 0;
}

.nav-side li {
  padding: 5px 10px 5px 5px;
}

.nav-side a {
  color: var(--colourPrimary_Dark);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-side a:hover {
  color: red;
}

.nav-side .active a {
  color: red;
  border-bottom: 3px solid red;
}

.nav-side .semi-active a {
  color: palevioletred;
  border-bottom: 3px solid palevioletred;
}