/* for testing only */
/* * {
  Background: rgba(255,0,0,0.1);
  outline: 1px solid red;
} */

* {
  padding: 0;
  margin: 0;
}

:root {
  font-size: calc(1rem + 0.5vw);
  /* https://material.io/color/ */
  --colourPrimary_Primary: #b0bec5; /* #1976d2 */
  --colourPrimary_Light: #e2f1f8; /* #63a4ff */
  --colourPrimary_Dark: #808e95; /* #004ba0 */

  --colourSecondary_Primary: #ffb74d;
  --colourSecondary_Light: #ffe97d;
  --colourSecondary_Dark: #c88719;
}

/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif; /* regular (400), medium (500), black (700) */
}

#article-right {
  width: calc(100% - 40px);
  max-width: 1800px;
  margin: 0 auto;
}

#hero {
  width: 100%;
  margin: 0;
  padding: 0;
}

#hero h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: black;
  color: var(--colourPrimary_Dark);
}

a:link,
a:visited {
  text-decoration: none;
}

/* https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors
    Needed to account for sticky navbar at top
*/
.anchor:target {
  padding-top: 55px;
  margin-top: -55px;
}

.section {
  /* border: 2px dashed rgb(255, 0, 242); */
}

h2 {
  background: var(--colourPrimary_Light);
  padding: 0 0 0 10px;
}

#footer {
  background: white;
  z-index: 2;
}

/* Target an element that has all of multiple classes */
.dcCharts {
  visibility: hidden;
  /*display: none; */
}

.tile {
  border: 1px solid var(--colourPrimary_Primary);
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.tile h3 {
  background-color: var(--colourPrimary_Dark);
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.tile .body {
  padding: 0.5rem;
  overscroll-behavior: none;
}

.tile footer {
  margin-top: auto;
  border-top: 1px solid var(--colourPrimary_Primary);
  padding: 10px;
  text-align: center;
}

/* to make the image auto resize to the max width of the boundary */
/* img is also used for leaflet marker - removing this but need to understand if any impact elsewhere...
img {
  max-width: 95%;
  min-width: 250px;
  height: auto;
  vertical-align: middle;
  margin: 0 auto;
}
*/

/* Used to make tile clickable - doesn't cover footer */
.clickable a {
  display: inline-block;
  height: 100%;
  width: 100%; /*  fill the parent  */
}

/* below is for pre tiles method only
.tiles li {
  border: 1px solid #ffe066;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
*/

/* center map in div
.leaflet-container {
  margin: auto;
}
*/

.map {
  min-height: 600px;
}

/*
Font Awesome
*/

/* Apply to all classes containing fa-angle- */

[class*="fa-angle-"] {
  margin-left: 4px;
}

.fa-envelope,
.fa-phone {
  margin-right: 5px;
}

/* On/ Off toggle */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tooltip {
  pointer-events: none;
}

/* Animations */
/*     <!-- https://l-lin.github.io/font-awesome-animation/ -->
    <link
      rel="stylesheet"
      type="text/css"
      href="css/components/fontawesome_animation.css"
    />
     */
/* CSS animation to add a circle highlight around selected practice */
.map-marker-highlight {
  /* z-index: 1; */
  border: 5px solid yellow;
  border-radius: 50px;
  height: 46px;
  width: 46px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.3, 0.3);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

.faa-parent.animated-hover:hover > .faa-vertical,
.faa-vertical.animated,
.faa-vertical.animated-hover:hover {
  -webkit-animation: vertical 2s ease infinite;
  animation: vertical 2s ease infinite;
}

@keyframes vertical {
  0% {
    -webkit-transform: translate(0, -3px);
    transform: translate(0, -3px);
  }
  4% {
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
  }
  8% {
    -webkit-transform: translate(0, -3px);
    transform: translate(0, -3px);
  }
  12% {
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
  }
  16% {
    -webkit-transform: translate(0, -3px);
    transform: translate(0, -3px);
  }
  20% {
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
  }
  100%,
  22% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
