# paths need to use forward slashes
Data/org_structure/
    dataSource.json

Data/dsrCalcs

Data/GP_Practice_Populations.csv
# pgadmin connection string
Data/geo/scripts/options.txt

Data/geo/selectedLSOATesting
xx_delete

# ignore all jpgs
*.jpg
# except the default image
!img/org_structure/default.jpg

*.pdf
*.xls*

.vscode/settings.json
