# paths need to use forward slashes
Data/org_structure/
    dataSource.json
    Org_Structure_190508.pdf

Data/GP_Practice_Populations.csv

# ignore all jpgs
*.jpg
# except the default image
!img/org_structure/default.jpg
