/* Additional Awesomplete to override defaults*/

/*  Wrap all search elements in a flex container */
.awesearch {
  display: inline-flex;
  justify-content: flex-start;
  align-items: baseline;
}

.awesearch label {
  order: 0;
  white-space: nowrap;
}

.awesearch .fa-magnifying-glass {
  /* Magnifying glass */
  position: relative;
  order: 0;
  top: 0;
  left: 10px;
  font-size: 0.8em;
}

.awesomplete {
  /* this is the parent of the input box */
  /* Currently need to fix size, haven't figured out how to auto this */
  width: 470px;
  flex-basis: content;
  padding-left: 0;
}

.awesearch .dropdown-input {
  /* input box */
  order: 3;
  flex-basis: auto;
  text-indent: 30px; /* space for magnifying glass */
  border-radius: 5px;
  font-size: 0.85em;
  width: 100%;
  /* max-width: 500px; */
  left: 50px;
  margin: 0 -15px; /* Removes gap between flex items */
}

.awesearch .dropdown-btn {
  order: 4;
  align-self: center;
  position: relative;
  border-radius: 5px;
  top: -5px;
  left: -15px;
  border-left: none;
}

/* Below formats the drop down text */
.awesomplete > ul {
  z-index: 10000; /* z-index to ensure appears above eg. leaflet map layers. Trial and error... */
  max-height: 80vh;
  overflow-y: auto;
  white-space: nowrap; /* stops practice names going onto new lines */
  font-size: 0.75em;
}

/* Add a scroll to the pop-up
https://github.com/LeaVerou/awesomplete/issues/16875
*/

/* Used so search icon is not hidden and can click on it and cursor will appear */
input[type="search"] {
  background: transparent;
}

/*
Cancel Button
https://css-tricks.com/webkit-html5-search-inputs/#article-header-id-5
https://stackoverflow.com/questions/2803532/how-do-i-put-a-clear-button-inside-my-html-text-input-box-like-the-iphone-does
*/
input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  right: 5px; /* shift the cancel icon (X) slightly */
  /* Remove default */
  -webkit-appearance: searchfield-cancel-button;
  z-index: 1; /*need to apply z-index to bring it to the front */
}

/* Used to hide the default arrow for input list */
input::-webkit-calendar-picker-indicator {
  /* opacity: 1; */
  display: none;
}

/* Style the placeholder -
  ::placeholder styles the placeholder text
  ::placeholder is a pseudo element (a visible thing that isn't really in the DOM)
  */
::-webkit-input-placeholder {
  color: orangered;
}

/*
  :placeholder-shown is for selecting the input itself when it's placeholder text is being shown.
  :placeholder-shown is a pseudo class (it's an element in a particular state)
  */
input:placeholder-shown {
  border-color: orangered;
  text-overflow: ellipsis;
  /* font-size: 1em; */
}

.dropdown-input:focus {
  box-shadow: 0 0 15px 5px #b0e0ee;
  border: 2px solid #bebede;
}
