/* Additional Awesomplete to override defaults*/

/* Used to hide the default arrow for input list */
input::-webkit-calendar-picker-indicator {
	opacity: 0;
}

/* Style the placeholder */
::-webkit-input-placeholder {
	color: orangered;
}

/* z-index to ensure appears above eg. leaflet map layers */
.awesomplete > ul {
	z-index: 500; /* increase until the dropdown list is no longer hidden */
}

/* Remove the arrow pointer - untested
.awesomplete > ul:before {
	display: none;
}
*/

/* Add a scroll to the pop-up
https://github.com/LeaVerou/awesomplete/issues/16875
*/
.awesomplete > ul {
	max-height: 80vh;
	overflow-y: auto;
}

.dropdown-input {
	margin-right: 0;
	border-radius: 5px;
}

.dropdown-input:focus {
	box-shadow: 0 0 15px 5px #b0e0ee;
	border: 2px solid #bebede;
}

.dropdown-btn {
	position: relative;
	left: -5px;
	border-left: none;
}

/* Used so search icon is not hidden and can click on it and cursor will appear */
input[type='search'] {
	background: transparent;
}

/*
Cancel Button
https://css-tricks.com/webkit-html5-search-inputs/#article-header-id-5
https://stackoverflow.com/questions/2803532/how-do-i-put-a-clear-button-inside-my-html-text-input-box-like-the-iphone-does
*/
input[type='search']::-webkit-search-cancel-button {
	position: relative;
	right: -15px; /* the cancel incon (X) is offset. Shift it to the right, need to apply z-index to bring it to the front
	/* Remove default */
	-webkit-appearance: searchfield-cancel-button;
	z-index: 1;
}

/* Magnifying Glass */
.fa-search {
	position: relative;
	left: 7px;
	font-size: 15px;
}

.search {
	position: relative;
}
.search input {
	text-indent: 30px;
}
.search .fa-search {
	position: absolute;
	top: 7px;
	left: 7px;
	font-size: 0.7em;
}
